* {
    margin: 0;
    padding: 0;
}

/* header */

.container-logo {
    background-color: #f7f7f7;
    height: 55px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}

.container-logo img {
    width: 180px;
    height: 28px;
    margin-left: 12px;
}



/* formulario */

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.container-form {
    width: 360px;
    margin: auto;
}

.container-form h1 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 8px;
    font-family: Figtree, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
}

.container-form p{
    font-size: 14px;
    font-weight: 200;
    font-family: Figtree, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
}

.form-content {
    margin-top: 28px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    text-align: left;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.form-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: Figtree, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
}

.form-control {
    outline: 0;
    border: 1px solid;
    border-color: #c3c6d4;
    border-radius: 4px;
    transition: border-color var(--motion-productive-medium) ease-in;
    padding: 8px 16px;
    overflow: hidden;
}

.form-control::placeholder {
    font-size: 16px;
    line-height: 22px;
}

.btn-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn-form a {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    font-family: Figtree, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
    line-height: normal;
    cursor: pointer;
    color: #0073ea;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.btn-form a:hover {
    text-decoration: underline;
}

.btn-form .btn {
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 28px;
    border: none;
    font-size: 18px;
    font-family: Figtree, Roboto, Noto Sans Hebrew, Noto Kufi Arabic, Noto Sans JP, sans-serif;
    color: #fff;
    background: #0073ea;
    border-radius: 4px;
    padding: 8px;
    gap: 12px;
    font: inherit;
}

.btn-form .btn:hover {
    background: #0060b9;
}

@media (max-width: 450px) {

    .container-login {
        padding: 40px 0;
    }
}